# Byte-compiled / optimized / compiled Python files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribution / packaging
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/

# IDEs and editors
.idea/
.vscode/
*.swp
*~
.DS_Store

# Logs and databases
*.log
*.sqlite3

# Temp
temp